@use "../abstract/variable" as var;
@use "../abstract/mixins" as mixins;

.text-uppercase {
  text-transform: uppercase;
}

.color-anim {
  transition: 500ms;
  animation: color-change 10s infinite;
}
.line {
  width: 5rem;
  height: 0.5rem;
  border-radius: 6px;
  margin: 30px auto;
  background: linear-gradient(
    to right,
    rgb(255, 72, 0),
    rgb(0, 110, 255),
    rgb(238, 255, 0)
  );
}
.hidden {
  display: none;
}

// img responsive
@include mixins.responsive(xxs) {
  .img-responsive {
    max-width: 100%;
    height: auto;
  }
}
@include mixins.responsive(xs) {
  .img-responsive {
    max-width: 100%;
    height: auto;
  }
}
@include mixins.responsive(sm) {
  .img-responsive {
    max-width: 100%;
    height: auto;
  }
}
@include mixins.responsive(md) {
  .img-responsive {
    max-width: 100%;
    height: auto;
  }
}
@include mixins.responsive(xl) {
  .about-area--img {
    max-width: 32rem;
    height: auto;
  }
}
