// abstract
@import "./abstract/variable";
@import "./abstract/mixins";

// base
@import "./base/reset";
@import "./base/global";

// components
@import "./components/buttons";
@import "./components/badges";
@import "./components/forms";

// layouts
@import "./layouts/header";
@import "./layouts/background_elements";
@import "./layouts/footer";

// utlities
@import "./utilities/spacing";
@import "./utilities/animations";

// pages
@import "./pages/home";
@import "./pages/about";
@import "./pages/roadmap";
@import "./pages/contact";
@import "./pages/images";
