// abstract
@import "./abstract/variable";

// base
@import "./base/reset";
@import "./base/global";

// components
@import "./components/buttons";
@import "./components/badges";

// layouts
@import "./layouts/header";
@import "./layouts/background_elements";

// utlities
@import "./utilities/spacing";
@import "./utilities/animations";

// pages
@import "./pages/home";
@import "./pages/about";
@import "./pages/roadmap";
