@use "../abstract/variable" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem;
  border-bottom: 1px solid #eee;

  @include mixins.responsive(xxs) {
    padding: 1rem 2rem;
  }
  @include mixins.responsive(xs) {
    padding: 1rem 2rem;
  }
  @include mixins.responsive(sm) {
    padding: 1rem 2rem;
  }
  @include mixins.responsive(md) {
    padding: 1rem 3rem;
  }
  @include mixins.responsive(xl) {
    padding: 1rem 20rem;
  }

  &--logo {
    display: flex;
    align-items: center;
  }
  .menu-bar {
    display: none;

    @include mixins.responsive(xxs) {
      display: block;
    }
    @include mixins.responsive(xs) {
      display: block;
    }
    @include mixins.responsive(sm) {
      display: block;
    }
    @include mixins.responsive(md) {
      display: none;
    }
  }

  &--menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;

    @include mixins.responsive(xxs) {
      display: none;
    }
    @include mixins.responsive(xs) {
      display: none;
    }
    @include mixins.responsive(sm) {
      display: none;
    }
    @include mixins.responsive(md) {
      display: flex;
    }

    &__item > a {
      margin-right: 1.5rem;
      font-size: 14px;
      font-weight: 600;
      color: #242424;
      transition: 200ms;

      &:hover {
        color: func.theme-colors("primary");
      }
      &.active {
        color: func.theme-colors("primary");
      }
    }
  }
}
