@use "../abstract/variable" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 2;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  @include mixins.responsive(xxs) {
    padding: 1rem 2rem;
  }
  @include mixins.responsive(xs) {
    padding: 1rem 2rem;
  }
  @include mixins.responsive(sm) {
    padding: 1rem 2rem;
  }
  @include mixins.responsive(md) {
    padding: 1rem 3rem;
  }
  @include mixins.responsive(xl) {
    padding: 1rem 20rem;
  }

  &--logo {
    display: flex;
    align-items: center;
  }
  .menu-bar {
    display: none;

    @include mixins.responsive(xxs) {
      display: block;
    }
    @include mixins.responsive(xs) {
      display: block;
    }
    @include mixins.responsive(sm) {
      display: block;
    }
    @include mixins.responsive(md) {
      display: none;
    }
  }

  &--menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;

    @include mixins.responsive(xxs) {
      display: none;
    }
    @include mixins.responsive(xs) {
      display: none;
    }
    @include mixins.responsive(sm) {
      display: none;
    }
    @include mixins.responsive(md) {
      display: flex;
    }

    &__item > a {
      margin-right: 1.5rem;
      font-size: 14px;
      font-weight: 600;
      color: #242424;
      transition: 200ms;

      &:hover {
        color: func.theme-colors("primary");
      }
      &.active {
        color: func.theme-colors("primary");
      }
    }
  }

  &.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    // z-index: 2;
  }
}
.header--responsive {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100vw;
  height: 100vh;
  background-color: func.theme-colors("primary");
  z-index: 1;
  transition: 500ms;
  padding-top: 100px;

  &.show {
    text-align: center;
    left: 0;
    transition: 500ms;
  }

  & li {
    padding: 2rem;

    a {
      color: #fff;

      &.active {
        color: #000;
      }
    }
    & .btn-primary {
      background-color: #fff;
      color: func.theme-colors("primary");
    }
  }
}
