@use "../abstract/variable" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;

.images {
  padding: 8rem 20rem;
  width: 100%;
  height: 60vh;
  background: #141e30;
  background: -webkit-linear-gradient(to top, #243b55, #141e30);
  background: linear-gradient(to top, #243b55, #141e30);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  //   card 1
  .card {
    border-radius: 16px;
    width: 360px;
    height: 360px;
    background: url(https://picsum.photos/360/360?image=0);
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(#000, 0.85);

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(#000, 0.92);
    }
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;

      span {
        width: 25%;
        height: 100%;
        background: url(https://picsum.photos/360/360?image=0);
        transition: 0.5s;

        &:nth-child(1) {
          background-position: 0;
          transition-delay: 0;
        }
        &:nth-child(2) {
          background-position: 33.33333%;
          transition-delay: 0.1s;
        }
        &:nth-child(3) {
          background-position: 66.66666%;
          transition-delay: 0.2s;
        }
        &:nth-child(4) {
          background-position: 100%;
          transition-delay: 0.3s;
        }
      }
    }
    &:hover {
      .img > span {
        transform: translateY(-100%);
      }
      .content {
        transform: translateY(0%);
        transition: 1s;
        transition-delay: 0.1s;
      }
    }
    .content {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      padding: 20px 20px;
      width: 100%;
      height: 100%;
      transform: translateY(100%);

      h4 {
        text-align: center;
      }
    }
  }

  //   card2
  .card2 {
    border-radius: 16px;
    width: 360px;
    height: 360px;
    background: url("/assets/img/sass-1.jpg");
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(#000, 0.85);

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(#000, 0.92);
    }
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;

      span {
        width: 25%;
        height: 100%;
        background: url("/assets/img/sass-2.jpg");
        transition: 0.5s;

        &:nth-child(1) {
          // background: url("/assets/img/0.jpg");
          background-position: 0;
          transition-delay: 0;
        }
        &:nth-child(2) {
          // background: url("/assets/img/1.jpg");
          background-position: 33.33333%;
          transition-delay: 0.1s;
        }
        &:nth-child(3) {
          // background: url("/assets/img/2.jpg");
          background-position: 66.66666%;
          transition-delay: 0.2s;
        }
        &:nth-child(4) {
          // background: url("/assets/img/3.jpg");
          background-position: 100%;
          transition-delay: 0.3s;
        }
      }
    }
    &:hover {
      .img > span {
        transform: translateY(-100%);
      }
      .content {
        transform: translateY(0%);
        transition: 1s;
        transition-delay: 0.1s;
      }
    }
    .content {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      padding: 20px 20px;
      width: 100%;
      height: 100%;
      transform: translateY(100%);

      h4 {
        text-align: center;
      }
    }
  }
}
